@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-14 {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
}

.font-18 {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.font-21 {
  font-family: Nunito;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
}