# The base URL of your API
# This URL will be used by Axios for all HTTP requests.
# For example, in development, this might be your local server:
# http://localhost:3000
# In production, this could be your deployed API URL:
# https://api.production.example.com
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000

# The timeout duration for all API requests in milliseconds.
# If a request takes longer than this duration, it will be aborted.
# For example, if set to 10000, it means the timeout is 10 seconds.
API_TIMEOUT=10000
